{# Macro to spell words with the international phonetic alphabet #}
{% macro spell(call) %}
{% set alfa = {
'a':'alpha','b':'bravo','c':'charlie',
'd':'delta','e':'echo','f':'foxtrott',
'g':'golf','h':'hotel','i':'india',
'j':'juliett','k':'kilo','l':'lima',
'm':'mike','n':'november','o':'oscar',
'p':'papa','q':'quebec','r':'romeo',
's':'sierra','t':'tango','u':'uniform',
'v':'victor','w':'whiskey','x':'x-ray',
'y':'yankee','z':'zulu',
'1': 'one','2': 'two','3': 'three','4': 'four',
'5': 'five','6': 'six','7': 'seven','8': 'eight',
'9': 'niner','0': 'zero'} %}
{% for l in call | lower | list  -%}
{{ alfa[l]+' '}}
{%- endfor %}
{%- endmacro -%}

